@charset "utf-8";
body {


}

.resources {
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 0;
	display: flex;
}

.resource {
	align-items: center;
	border: 1px solid #d8dee9;
	border-radius: 5px;
	color: #566b78;
	cursor: pointer;
	display: flex;
	margin-top: 1em;
	padding: 1em 2em;
	text-decoration: none;
}

.resource:hover {
  border-color: #e81c4f;
}

.resource strong {
  color: #e81c4f;
}

.resource .resource-name {
  color: #333;
  display: block;
  font-size: 1.2em;
}

.resource-icon {
  box-sizing: border-box;
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
  height: 120px;
  margin: 0;
  margin-right: 1em;
  padding: 0;
  text-align: center;
  width: 120px;
}

.resource-marksheet .resource-icon {
  padding: 5px;
}

.resource-bulma .resource-icon {
  padding: 10px;
}

.resource-css-reference .resource-icon {
  padding: 20px;
}
#logo {
	width: 10%;
	border-radius: 10000px;
	float: left;
	
}


@media (min-width:600px){
}
.resource {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
  }

  .resource + .resource {
    margin-left: 1em;
  }

  .resource-icon {
    margin: 0 auto 1em;
  }
.resource-icon:hover{
	padding-top: 0px;
	padding-bottom: 10px;

}
img {
  height: auto;
  max-width: 100%;
}

  .buttons {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 1em 0;
	max-width: 100%;
  }

html a.button {
  border: 1px solid #d8dee9;
  border-radius: 290486px;
  color: #b0bfc7;
  padding: 1em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
}

.button:hover {
  background: #e81c4f;
  border-color: transparent;
  color: rgba(255, 255, 255, 0.5);
}

.button em {
  display: block;
  font-size: 0.6em;
  font-style: normal;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.button strong {
  color: #e81c4f;
  transition: color 200ms ease-out;
}

.button:hover strong {
  color: white !important;
}

.button.github strong {
  color: #333;
}

.button.github:hover {
  background: #333;
}
.button.one strong {
  color: #3b5998;
}
.button.one:hover {
  background: #3b5998;
}
.button.two strong  {
  color: #55acee;
}
.button.two:hover {
  background: #55acee;
}


.buttons .button {
  display: block;
  margin-bottom: 1em;
}
@media (min-width: 600px) {

  .buttons .button {
    flex-grow: 1;
    flex-shrink: 0;
    margin-bottom: 0;
    margin-right: 1em;
  }
}
  .buttons .button:last-child {
    margin-right: 0;
  }
